<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <style>
        html,
        body {
            height: 100%;
            background-color: #f6f6f6;
        }
    </style>
</head>

<body>
<div class="container-fluid" style="min-height: 95%">
    <div class="row">
        <div class="col-sm-2">
            <div class="bs-sliderbar" style="background-color: #ffffff;">
                <ul class="nav flex-column">
                    <li><a class="nav-link" href="{% url 'contact' %}">Thong tin cá nhân</a></li>
                    <li><a class="nav-link" href="{% url 'blog' %}">Bai viết</a></li>
                    <li><a class="nav-link" href="{% url 'contact' %}">Lien hệ</a></li>
                    <li><a class="nav-link" href="{% url 'simple_upload' %}">UploadForm</a></li>
                    <li><a class="nav-link" href="{% url 'model_form_upload' %}">UploadFormExcel</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            {% block content %}

            {% endblock %}
        </div>
        <div class="col-sm-1">
            {% if user.username%}
            <p>Xin chao {{user.username}}</p>
            <p><a href="{% url 'logout' %}">Logout</a></p>
        </div>
        {% else %}
        <p><a href="{% url 'login' %}">Login</a>|<a href="{% url 'register' %}">Register</a></p>
        {%endif%}
    </div>
</div>
<footer>
    <div class="container-fluid">
        <a href="/">Facebook</a> | <a href="/">Twitter</a> | <a href="/">Google</a>
    </div>
</footer>
</body>

</html>